* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #2d0a2f;
    margin: 0;
}

.hero {
    background-image: linear-gradient(rgba(45, 10, 47, 0.8), rgba(45, 10, 47, 0.9)), url('graphic-designer-background.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

.sidebar {
    background-color: #2d0a2f;
}

.analyst-title {
    padding-top: 100px;
    padding-left: 70px;
}

h1, h2, h3 {
    color: #ff64ce;
}

h1 {
    color: #f5cce6;
}

ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #d892c2;
}

.btn-outline-light {
    border-radius: 30px;
    border-color: #ff64ce;
    color: #ff64ce;
    transition: all 0.3s ease-in-out;
}

.btn-outline-light:hover {
    background-color: rgba(255, 100, 206, 0.1);
    color: #ff64ce;
    border-color: #ff64ce;
}

.nav-link, .navbar-brand {
    color: #f5cce6;
}

.navbar-brand:hover, .nav-link:hover {
    color: #ff64ce;
}